// set media query
@mixin _media( $value ) {
    @media only screen and (max-width: $value){
        @content;
    }
}

// use flex-box
@mixin _flex( $list ) {

    display: flex;

    $hasNone: false;

    @each $value in $list {
        @if( $value == column ){ flex-direction: column; }
        @if( $value == wrap ){ flex-wrap: wrap; }
        @if( $value == start ){ justify-content: start; }
        @if( $value == center ){ justify-content: center; }
        @if( $value == end ){ justify-content: flex-end; }
        @if( $value == top ){ align-items: flex-start; }
        @if( $value == middle ){ align-items: center; }
        @if( $value == bottom ){ align-items: flex-end; }
        @if( $value == between ){ justify-content: space-between; }
        @if( $value == around ){ justify-content: space-around; }
        @if( $value == tight ){ align-content: flex-start; }
        @if( $value == auto ){ flex: auto; }
        @if( $value == none ){ flex: none; $hasNone: true;}
    }

    @if( $hasNone != true ){ width: 100%; }

}

// set font-family scoped
@mixin _font-family( $boolean ){

    $scope : if($boolean, 'html', $namespace);

    #{$scope} {
        @content;
    }

}

// iterate to set media query
@mixin _set_media() {
    
    @each $point in $breakpoints {

        $__i: nth($point, 1) !global;
        $value: nth($point, 2);

        @include _media( $value ) {
            @content;
        }

    }
}
