// mixins methods' variable
$use-global-font: false !default;

$breakpoints: (
    xl: 1920px,
    lg: 1380px,
    md: 992px,
    sm: 768px,
    xs: 544px,
) !default;

$flexbox: column wrap start center end top middle bottom between around tight auto none full;

// global variable
$namespace: '.typing' !default;

$color-main:  #23303e !default;
$color-sub:   #960303 !default;
$color-light: #d6d6d6 !default;
$color-dark:  #757575 !default;

$font_family_sans: Georgia, "Times New Roman", Times, serif !default;
$font_family_monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$fontSize: (
    xl: 16px,
    lg: 16px,
    md: 14px,
    sm: 14px,
    xs: 14px,
) !default;
$fontSize-helper: .8em !default;
$fontWeight:       400 !default;
$fontWeight-focus: 600 !default;

$lineHeight: (
    xl: 2.2,
    lg: 2,
    md: 2,
    sm: 1.96,
    xs: 1.8,
) !default;


// inline element
$_inlineElement-margin: 0 !default;

$_q-style: '「''」''『''』' !default;

$_a-style: 1px currentcolor solid !default;

$_code-fontFamily: inherit !default;

$_sub-margin: 0 .25em !default;


// block element
$_blockElement-margin: (
    xl: 0 0 1.4rem 0,
    lg: 0 0 1.4rem 0,
    md: 0 0 1.4rem 0,
    sm: 0 0 1.2rem 0,
    xs: 0 0 1.2rem 0,
) !default;

$_blockElement-textAlign: (
    xl: justify,
    lg: justify,
    md: justify,
    sm: justify,
    xs: justify,
) !default;

$_h-lineHeight:  1.4 !default;

$_h1-textAlign: (
    xl: center,
    lg: center,
    md: center,
    sm: left,
    xs: left,
) !default;

$_h1-fontSize: (
    xl: 1.6rem,
    lg: 1.6rem,
    md: 1.5rem,
    sm: 1.4rem,
    xs: 1.3rem 
) !default;
$_h2-fontSize: (
    xl: 1.4rem,
    lg: 1.4rem,
    md: 1.3rem,
    sm: 1.2rem,
    xs: 1.14rem,
) !default;
$_h3-fontSize: (
    xl: 1.2rem,
    lg: 1.2rem,
    md: 1.2rem,
    sm: 1.2rem,
    xs: 1.1rem,
) !default;
$_ho-fontSize: (
    xl: 1rem,
    lg: 1rem,
    md: 1rem,
    sm: 1rem,
    xs: 1rem,
) !default;

$_h1-margin: (
    xl: 0 0 3em 0,
    lg: 0 0 2.2em 0,
    md: 0 0 2em 0,
    sm: 0 0 1.8em 0,
    xs: 0 0 1.2em 0,
) !default;
$_h2-margin: (
    xl: 3.8em 0 1.4em 0,
    lg: 2.8em 0 1.4em 0,
    md: 2.6em 0 1.3em 0,
    sm: 2.2em 0 1.2em 0,
    xs: 2.2em 0 1.2em 0,
) !default;
$_h3-margin: (
    xl: 2em 0 .8em 0,
    lg: 1.8em 0 .6em 0,
    md: 1.8em 0 .6em 0,
    sm: 1.6em 0 .6em 0,
    xs: 1.4em 0 .6em 0,
) !default;
$_ho-margin: (
    xl: 1.6em 0 .6em 0,
    lg: 1.2em 0 .6em 0,
    md: 1.2em 0 .6em 0,
    sm: 1.2em 0 .8em 0,
    xs: 1.2em 0 .6em 0,
) !default;

$_p-margin: (
    xl: 0 0 1.8em 0,
    lg: 0 0 1.98em 0,
    md: 0 0 1.82em 0,
    sm: 0 0 1.6em 0,
    xs: 0 0 1.8em 0,
) !default;
$_p-lineHeight: (
    xl: 2,
    lg: 2.08,
    md: 2.12,
    sm: 2.18,
    xs: 2.2,
) !default;

$_list-padding: 0 0 0 2em !default;
$_list-style: circle !default;
$_li-margin: (
    xl: 0 0 .8em 0,
    lg: 0 0 .6em 0,
    md: 0 0 .6em 0,
    sm: 0 0 .7em 0, 
    xs: 0 0 .7em 0,
) !default;
$_li-lineHeight: (
    lx: 1.94,
    lg: 1.94,
    md: 1.94,
    sm: 1.9,
    xs: 1.9,
) !default;

$_table-padding: 5px 10px !default;

$_pre-padding: 1em !default;
$_pre-lineHeight: 1.2 !default;
$_pre-fontSize: 1em !default;
$_pre_color: $color-dark !default;
$_pre_tabSize: 4 !default;

$_blockquote-padding: 0 0 0 .5em !default;
$_blockquote-style: .4em solid $color-light !default;
