
.typing {

  @import "variables";

  line-height: map-get( $_line_height, lx);
  text-align: map-get( $_text_algin, lx );

  h1, h2, h3, h4, h5, h6 {
    font-weight: $_h_font_weight;
    line-height: $_h_font_lineh;
  }
  h1 {
    @include margin_btm_only( map-get( $_h1_margin, lx) );
    font-size: map-get( $_h1_font_size, lx);
    text-align: map-get( $_h1_text_align, lx );
  }
  h2 {
    @include margin_tb( map-get( $_h2_margin, lx));
    font-size: map-get( $_h2_font_size, lx);
  }
  h3 {
    @include margin_tb( map-get( $_h3_margin, lx));
    font-size: map-get( $_h3_font_size, lx);
  }
  h4, h5, h6 {
    @include  margin_tb( map-get( $_ho_margin, lx));
    font-size: map-get( $_ho_font_size, lx);
  }

  hr {
    border: none;
  }

  p, ul, ol, dl, table, blockquote, pre, figure, .typing-wrap {
    @include margin_btm_only( map-get( $_inline_margin, lx) );
  }

  p {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    word-wrap: break-word;
    @at-root .typing.ty-indent {
      text-indent: 2em;
    }
  }

  ul, ol {
    padding-left: $_list_style_padding;

    li {
      @include margin_btm_only( map-get( $_list_line_margin, lx));
      line-height: map-get( $_list_line_height, lx);

      > * {
        @include margin_btm_only( 0 );
      }
    }
  }

  ul {
    list-style-type: $_list-style-type;
  }

  dl {
    dt {
      font-weight: $font_weight_bold;
    }

    dd {
      @include margin_btm_only( 10px );
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: $_line_style;
    border-bottom: 0;
    text-align: left;

    thead tr th {
      padding: $_table_tr_padding;
      background-color: $_color_light;
      font-weight: $font_weight;
      color: inherit;
    }

    tr td {
      padding: $_table_tr_padding;
      border-bottom: $_line_style;
    }
  }

  pre {
    padding: $_pre_padding;
    border: $_line_style;
    @include margin_btm_only( 34px );
    line-height: $_pre_line_height;
    -moz-tab-size: $_pre_tab_size;
      -o-tab-size: $_pre_tab_size;
         tab-size: $_pre_tab_size;

    code {
      @include margin_btm_only(0);
      background-color: transparent;
      font-family: $font-family-monospace;
      font-size: $_pre_font_size;
      color: $_pre_color;
      white-space: pre-wrap;
    }
  }

  blockquote {
    padding: $_blockquote_padding;
    border-left: $_blockquote_style_left;

    *{
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  figure {
    overflow: hidden;

    figcaption {
       @include margin_btm_only(0);
    }

    p {
       @include margin_btm_only(.4em);
    }

    ul, ol, pre, table, img, .typing-wrap {
      @include margin_btm_only(0);
    }

    img {
      display: block;
      box-sizing: border-box;
      max-width: 100%;
      height: auto;
      max-height: inherit;
      margin: auto;
      @include _img_style();
    }

    small {
      float: right;
      max-width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img ~ small,
    picture ~ small {
      float: none;
      display: block;
      text-align: center;
      max-width: 100%;
    }
  }

  .typing-wrap {
    border: $_line_style;
    overflow: auto;
    white-space:nowrap;
    word-break: keep-all;

    pre, table, table tbody tr:last-child *{
      border: none;
      @include margin_btm_only(0);
    }

    pre code {
      white-space: pre;
    }
  }

  .typing-cite, cite {
    font-style: normal;
    font-size: $_font_size_small;
    color: $_font_color_light;
  }

  q {
    quotes: $_q_style;
  }

  a {
    border-bottom: $_a_style;
    @include _inline-margin();
    background-color: transparent;
    text-decoration:none;
    color: inherit;

    &:hover {

    }

    * {
      margin: 0;
    }
  }

  code {
    font-family: inherit;
    @include _inline-margin();
    color: $_code-color;
  }

  em {
    font-style: normal;
    -webkit-text-emphasis: {
      position: under;
      style: "\2022";
      color: inherit;
    }

    /*hack ie > 8*/
    @at-root {
      @media screen and (min-width:0\0) {
      .typing em {font-weight: $font_weight_bold;}
      }
    }
  }

  strong {
    font-style: normal;
    font-weight: $font_weight_bold;
  }

  abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
  }

  sub, sup {
    margin-left: 2px;
    font-size: $_font_size_small;
    line-height: 1;
    color: $_font_color_light;
  }

  small {
    font-size:  $_font_size_small;
    color: $_font_color_light;
  }

  data {
    -webkit-font-feature-settings: "frac" 1;
            font-feature-settings: "frac" 1;
  }

  img {
    display: inline-block;
    max-height: $_img_inline_height;
    vertical-align: middle;
  }

  header {
    small {
      display: block;
      text-align: right;
    }
  }


  @include _set_media( $breakpoint ){
      font-size: map-get( $font_size, $__index );
      line-height: map-get( $_line_height, $__index);
      text-align: map-get( $_text_algin, $__index);
      h1 {
        @include margin_btm_only( map-get( $_h1_margin, $__index) );
        font-size: map-get( $_h1_font_size, $__index );
        text-align: map-get( $_h1_text_align, $__index );
      }
      h2 {
        @include margin_tb( map-get( $_h2_margin, $__index) );
        font-size: map-get( $_h2_font_size, $__index );
      }
      h3 {
        @include margin_tb( map-get( $_h3_margin, $__index) );
        font-size: map-get( $_h3_font_size, $__index );
      }
      h4, h5, h6 {
        @include margin_tb( map-get( $_ho_margin, $__index) );
        font-size: map-get( $_ho_font_size, $__index );
      }
      p, ul, ol, dl, table, blockquote, pre, figure, .typing-wrap {
        @include margin_btm_only( map-get( $_inline_margin, $__index) );
      }
      ul, ol {
        li {
          @include margin_btm_only( map-get( $_list_line_margin, $__index));
          line-height: map-get( $_list_line_height, $__index);
        }
      }
  };



}
