#{$namespace} {

    @include _set_media() {
        font-size: _setValue($fontSize);
        line-height: _setValue($lineHeight);
        text-align: _setValue($textAlign);
    }

    // inline element
    %inlineElement-margin {
        margin: $_inlineElement-margin;
    }

    q {
        @extend %inlineElement-margin;
        quotes: $_q-style;
    }

    a {
        @extend %inlineElement-margin;
        border-bottom: $_a-style;
        color: inherit;
        background-color: transparent;
        text-decoration:none;
    }

    code {
        @extend %inlineElement-margin;
        color: $color-sub;
        font-family: $_code-fontFamily;
    }

    em {
        @extend %inlineElement-margin;
        font-style: normal;
        -webkit-text-emphasis: {
            position: under;
            style: "\2022";
            color: inherit;
        }
        text-emphasis: {
            position: under;
            style: "\2022";
            color: inherit;
        }

        /*hack ie > 8*/
        @at-root {
            @media screen and (min-width:0\0) {
                #{$namespace} em {
                    font-weight: $fontWeight-focus;
                }
            }
        }
    }

    strong {
        @extend %inlineElement-margin;
        font-style: normal;
        font-weight: $fontWeight-focus;
    }

    del {
        &::before {
            content: '\2002';
        }
        &::after {
            content: '\2002';
        }
    }

    abbr[title] {
        @extend %inlineElement-margin;
        border-bottom: 1px dotted;
        text-decoration: none;
        cursor: help;
    }

    sub, sup {
        margin: $_sub-margin;
        color: $color-dark;
        font-size: $fontSize-helper;
        line-height: 1;
    }

    
    // block element
    %h-font {
        font-family: serif;
        font-weight: $fontWeight-focus;
        line-height: $_h-lineHeight;
    }

    h1 {
        @extend %h-font;
    }
    h2 {
        @extend %h-font;
    }
    h3 {
        @extend %h-font;
    }
    h4, h5, h6 {
        @extend %h-font;
    }

    @include _set_media() {
        h1 {
            margin: _setValue($_h1-margin);
            font-size: _setValue($_h1-fontSize);
            text-align: _setValue($_h1-textAlign);
        }
        h2 {
            margin: _setValue($_h2-margin);
            font-size: _setValue($_h2-fontSize);
        }
        h3 {
            font-size: _setValue($_h3-margin);
            line-height: _setValue($_h3-fontSize);
        }
        h4, h5, h6 {
            font-size: _setValue($_ho-fontSize);
            line-height: _setValue($_ho-margin);
        }
    }

    %blockElement-margin {
        @include _set_media() {
            margin: _setValue($_blockElement-margin);
        }
    }

    hr {
        @extend %blockElement-margin;
        border: none;
    }

    p {
        // @extend %blockElement-margin;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
        word-wrap: break-word;

        @include _set_media() {
            margin: _setValue($_p-margin);
            line-height: _setValue($_p-lineHeight);
        }
    }

    ul, ol {
        @extend %blockElement-margin;
        padding: $_list-padding;

        @include _set_media() {
            li {
                margin: _setValue($_li-margin);
                line-height: _setValue($_li-lineHeight);
            }
        }
    }

    ul {
        list-style-type: $_list-style;
    }

    dl {
        @extend %blockElement-margin;

        dt {
            font-weight: $fontWeight-focus;
        }

        dd {
            margin: 0;
            margin-bottom: 10px;
        }
    }

    table {
        @extend %blockElement-margin;
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border: 1px solid $color-light;
        border-bottom: 0;
        text-align: left;

        thead tr th {
            padding: $_table-padding;
            background-color: $color-light;
            font-weight: $fontWeight;
            color: inherit;
        }

        tr td {
            padding: $_table-padding;
            border-bottom: 1px solid $color-light;
        }
    }

    #{$namespace}-autoWrap {
        @extend %blockElement-margin;
        border: 1px solid $color-light;
        overflow: auto;
        white-space:nowrap;
        word-break: keep-all;
    
        pre, table, table tbody tr:last-child *{
            border: none;
            margin: 0;
            margin-bottom: 0;
        }
    
        pre code {
            white-space: pre;
        }
    }

    pre {
        @extend %blockElement-margin;
        padding: $_pre-padding;
        border: 1px solid $color-light;

        line-height: $_pre_lineHeight;
        -moz-tab-size: $_pre_tabSize;
        -o-tab-size: $_pre_tabSize;
            tab-size: $_pre_tabSize;

        code {
            margin: 0;
            color: $_pre_color;
            background-color: transparent;
            font-family: $font-family-monospace;
            font-size: $_pre_fontSize;
            white-space: pre-wrap;
        }
    }
    
    blockquote {
        @extend %blockElement-margin;
        padding: $_blockquote-padding;
        border-left: $_blockquote-style;

        *{
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin: 0;
                margin-bottom: 0;
            }
        }
    }

    img {
        display: inline-block;
        max-height: 16px;
        vertical-align: middle;
    }

    figure {
        @extend %blockElement-margin;
        overflow: hidden;

        figcaption {
            margin: 0;
            margin-bottom: 0;
        }

        p {
            margin: 0;
            margin-bottom: .4em;
        }

        ul, ol, pre, table, img, .typing-wrap {
            margin: 0;
            margin-bottom: 0;
        }

        img {
            display: block;
            box-sizing: border-box;
            max-width: 100%;
            height: auto;
            max-height: inherit;
            margin: auto;
        }

    }

}
