#{$namespace} {
    color: $font-color-default;
    line-height: $line-height;

    h1, h2, h3, h4, h5, h6 {

    }
    h1 {

    }
    h2 {

    }
    h3 {

    }
    h4, h5, h6 {

    }

    hr {

    }

    p, ul, ol, dl, table, blockquote, pre {
        margin: 0 0 2em 0;
    }

    p {
        hyphens: auto;
        word-wrap: break-word;
    }

    ul, ol {
    
        li {

        }
    }

    dl {
        dt {

        }

        dd {

        }
    }

    table {
        thead tr th {

        }

        tr td {

        }

        tfoot tr td {

        }
    }

    pre {

        code {

        }
    }

    blockquote {

    }

    q {
        quotes: '「''」''『''』';
    }

    a {
        border-bottom: 1px currentcolor solid;
        background-color: transparent;
        text-decoration:none;
        color: inherit;
    }

    code {

    }

    em {
        
    }

    strong {

    }

    del {

    }

    abbr[title] {

    }

    sup {

    }

    small {

    }

    data {

    }

    img {

    }

}
