// set picture's style
@mixin _img_style ( $boole: true ){
  @if $boole {
    padding: 10px;
    border: $_line_style;
  }
}

@mixin _inline-margin ( $value: 3.2px ){
  margin: 0 $value;
}

@mixin _set_media( $breakpoint ) {

  @each $item in $breakpoint {
    $vaule : map-get($media_breakpoint, $item);
    $__index: $item !global;
    @if ($vaule != none ) {
      @media only screen and (max-width: $vaule){
        @content;
      }
    }
  }
}


// margin
$_inline_margin: if( $enter_global_font,
  ( lx: 1.4rem, lg: 1.4rem, md: 1.4rem, sm: 1.2rem, xs: 1.2rem ),
  ( lx: 23.8px, lg: 22.4px, md: 21px, sm: 16.8px, xs: 16.8px )
) !default;

// color
$_color_light: #d6d6d6 !default;

// font
$_font_size_small: .8em !default;
$_font_color_light: #505f6f !default;
$_line_height:  (lx: 2.2, lg: 2, md: 2, sm: 1.96, xs: 1.8 ) !default;

// text
$_text_algin: (lx: justify, lg: justify, md: left, sm: left, xs: left ) !default;

// line
$_line_style: 1px solid $_color_light !default;

// h
$_h_font_weight: 600 !default;
$_h_font_lineh:  1.4 !default;

$_h1_font_size: if($enter_global_font,
  ( lx: 1.6rem, lg: 1.6rem, md: 1.5rem, sm: 1.4rem, xs: 1.3rem ),
  ( lx: 27.2px, lg: 25.6px, md: 22.5px, sm: 19.6px, xs: 18.2px )
) !default;
$_h2_font_size: if($enter_global_font,
  ( lx: 1.4rem, lg: 1.4rem, md: 1.3rem, sm: 1.2rem, xs: 1.14rem ),
  ( lx: 23.8px, lg: 22.4px, md: 19.5px, sm: 16.8px, xs: 15.96px )
) !default;
$_h3_font_size: if($enter_global_font,
  ( lx: 1.2rem, lg: 1.2rem, md: 1.2rem, sm: 1.2rem, xs: 1.1rem ),
  ( lx: 20.4px, lg: 19.2px, md: 18px, sm: 16.8px, xs: 15.4px )
) !default;
$_ho_font_size: if($enter_global_font,
  ( lx: 1rem, lg: 1rem, md: 1rem, sm: 1rem, xs: 1rem ),
  ( lx: 17px, lg: 16px, md: 15px, sm: 14px, xs: 14px )
) !default;

$_h1_margin: (lx: 3em, lg: 2.2em, md: 2em, sm: 1.8em, xs: 1.2em ) !default;
$_h2_margin: (lx: (3.8em 1.4em), lg: (2.8em 1.4em), md: (2.6em 1.3em), sm: (2.2em 1.2em), xs: (2.2em 1.2em) ) !default;
$_h3_margin: (lx: ( 2em .8em), lg: ( 1.8em .6em), md: (1.8em .6em), sm: (1.6em .6em), xs: ( 1.4em .6em) ) !default;
$_ho_margin: (lx: ( 1.6em .6em), lg: ( 1.2em .6em), md: ( 1.2em .6em), sm: (1.2em .8em), xs: ( 1.2em .6em) ) !default;

$_h1_text_align: (lx: center, lg: center, md: center, sm: left, xs: left ) !default;

// list
$_list_style_padding: 2em !default;
$_list_style_type: circle !default;
$_list_line_margin: (lx: .8em, lg: .6em, md: .6em, sm: .7em, xs: .7em ) !default;
$_list_line_height: (lx: 1.94, lg: 1.94, md: 1.94, sm: 1.9, xs: 1.9 ) !default;

// table
$_table_tr_padding: 5px 10px !default;

// pre
$_pre_padding: 1em !default;
$_pre_line_height: 1.2 !default;
$_pre_font_size: .8em !default;
$_pre_color: $_font_color_light !default;
$_pre_tab_size: 2 !default;

// blockquote
$_blockquote_padding: 0 0 0 .5em !default;
$_blockquote_style_left: .4em solid $_color_light !default;

// q
$_q_style: '「''」''『''』' !default;

// a
$_a_style: 1px currentcolor solid !default;

// code
$_code-color: #960303 !default;

// img
$_img_inline_height: 16px !default;
